.conteiner_products {
    float: left;
    width: 23%;
    margin-left: 50px;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    display: grid;
    grid-template-rows: 65% 35%;
    grid-template-areas: 
    "imagen"
    "texto";
    margin-bottom: 50px;
    height: 600px;
    border-radius: 5%;
    padding: 15px;
    box-shadow: 1px 1px 5px gray;
    font-size: 20px;
    margin-top: 100px;
}
.conteiner_products >div> img {
    width: 100%;
    display: block;
    margin: auto;
    height: 100%;
}

ul{
    list-style: none;
    list-style-position: inside;
    padding-inline-start: 0px;
}

.conteiner-button {
    display: flex;
    justify-content: space-around;
}