.caja_boton{
    display: flex;
    margin-top: 10px;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    border: 1px solid rgba(0, 0, 0, 0.12);
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    border: 1px solid black !important;
}
button.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    margin: auto;
}
.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    color: black;
    width: 40px;
    height: 5vh;
    font-size: 10px;
    font-weight: bold;
}
